body{
    font-family: "Roboto";
}
.hero,
.footer{
    background-color: #1F2937;
}

.hero{
    margin-bottom: 70px;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 10px
}

.section-one{
    display: flex;
}

.main-title{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 0;
}

.subtext,
ul{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 0;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.introduction-image{
    background-color: #E5E7EB;
}

.section-two{
    text-align: center;
}

.container{
    border-radius: 10px;
    border: 2px solid #3882F6;
    width: 100px;
    height: 100px;
}

.information-images {
    display: flex;
}

.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.section-three{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quotationist {
    display: flex;
    justify-content: flex-end;
}

.section-four{
    background-color: #3882F6;
    display: flex;
}

.call-to-action{
    background-color: #3882F6 ;
}